name: UI Automation CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build -t optibet-automation .

      - name: Run Tests
        # --shm-size="2gb" prevents the "DevToolsActivePort" crash in Linux
        run: docker run --rm --shm-size="2gb" optibet-automation